.composition {
    position: relative;
    &__photo {
        width: 50%;
        box-shadow: $box-shadow;
        border-radius: .5rem;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;
        &_n1{
            top: 0;
            left: 0;
        }
        &_n2 {
            top: 7rem;
            right: 10rem;
        }
        &_n3 {
            top: 15rem;
            left: 6rem;
        }
        &:hover {
            outline: 1rem solid #D39D38;
            transform: scale(1.1);
            z-index: 20;
        }
        @include respond(tab-land) {
            &_n1 {
                top: 0;
                left: 5rem;
            }

            &_n2 {
                top: 8rem;
                right: 4rem;
            }

            &_n3 {
                top: 15rem;
                left: 4rem;
            }
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}